<div>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <img class="img-fluid" src="/assets/media/svg/404.svg" alt="...">
            <h3>Page not found</h3>
            <p class="text-muted">The page you want to go is not currently available</p>
            <a href="/dashboard" class="btn btn-primary">Home Page</a>
            <a class="btn ml-2" onclick="historyGo()">Back</a>
        </div>
    </div>
</div>