<div class="form-wrapper">

    <!-- logo -->
    <div id="logo">
        <h3 class="font-weight-bold text-primary">HouseHelp</h3>
    </div>
    <!-- ./ logo -->


    <div class="card">
        <div class="card-body">
           <p>{{message}}</p> 
        <a href="/" class="btn btn-primary btn-block">go to login</a>
        </div>
    </div>

</div>