<div class="form-wrapper">

    <!-- logo -->
    <div id="logo">
        <h3 class="font-weight-bold text-primary">HouseHelp</h3>
    </div>
    <!-- ./ logo -->


    <h5>Reset password</h5>

    <!-- form -->
    <form action="/basic/forgot-pwd" method="post" id="orderForm" onsubmit="checkform()">
        {{#if message}}
        <div class="alert alert-danger" role="alert">{{message}}</div>
        {{/if}}
        <div class="form-group">
            <input type="email" name="email" class="form-control" placeholder="Email" required autofocus>
        </div>
        <button class="btn btn-primary btn-block login">Submit</button>
        <hr>
        <p class="text-muted">Take a different action.</p>
        <a href="/register" class="btn btn-sm btn-outline-light mr-1">Register now!</a>
        or
        <a href="/" class="btn btn-sm btn-outline-light ml-1">Login!</a>
    </form>
    <!-- ./ form -->

</div>