<div class="form-wrapper">

    <!-- logo -->
    <div id="logo">
        <h5 class="font-weight-bold text-primary">househelp.com.ng</h5>
    </div>
    <!-- ./ logo -->


    <div class="card">
        <div class="card-body">

            <h3 class="mb-4">{{message}}</h3>
            <a href="/" class="btn btn-primary btn-block login">Proceed to login</a>
        </div>
    </div>

</div>