.disable {
    border-color: transparent !important;
    background: #eee !important;
    color: #aaa;
}

.form-wizard {
    font-size: 14px;
    width: 25%;
    margin: 0 10px 25px 0;

}
.rounded-border {
    background-color: rgba(0, 0, 0, 0.089);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    margin: 0 8px 0 0;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
